
<div class="container-fulid py-5">
  <div class="row mx-3">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">投稿一覧</h5>
      <div class="form-body p-4">
        <%= form_with url: posts_path, method: :get do |f| %>
          <div class="input-group">
            <%= f.text_field :search, class: "form-control", placeholder: "タイトル" %>
          </div>
          <%= f.submit "検索", class: "btn btn-lg btn-block btn-outline-secondary mt-4" %>
        <% end %>
      </div>
    </div>
  </div>

<%= render 'public/posts/list', posts: @posts %>

<% if @posts.count == 0 %>
  <div class="text-center my-3">検索結果はありません</div>
<% end %>

</div>

<div id="map" style="height: 600px;"></div>

<script>
  function initMap() {
    // 地図要素を取得する（マーカーを表示させるために必要）
    const mapElement = document.getElementById('map');

    const mapOptions = {
      center: { lat: 35.6803997, lng: 139.7690174 },
      zoom: 10
    };

    const map = new google.maps.Map(mapElement, mapOptions);

    // マーカーを追加（Postの情報からマーカーを追加する）
    <% @posts.each do |post| %>
      new google.maps.Marker({
        position: {lat: <%= post.latitude %>, lng: <%= post.longitude %>},
        map: map,
        title: '<%= j post.title %>'
      });
    <% end %>
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&callback=initMap"></script>

