<!--投稿詳細-->
<div class="card-list-container py-5">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= image_tag @post.get_image(300, 300), class: "card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-1">
          <%= link_to user_path(@post.user.id) do %>
            <%= image_tag @post.user.get_profile_image(50, 50), class: "rounded-circle"; %>
          <% end %>
        </div>
        <div class="col-9">
          <h5 class="card-title">
            <%= link_to @post.title, post_path(@post.id), class: "text_dark"; %>
          </h5>
          <p class="card-text"><%= @post.body %></p>
          <span>撮影地:<%= @post.address %></span><br>
          <span>By <%= @post.user.name %></span>
          <div class="row">
            <div class="col-1">
              <div id="favorite_btn_<%= @post.id %>">
                <%= render "public/favorites/btn", post: @post %>
              </div>
            </div>
            <div class="col-1">
              <i class="fa-regular fa-comment"><%= @post.post_comments.count %></i>
            </div>
          </div>
        </div>
        <div class="col-2">
          <span><%= @post.created_at.strftime('%y/%m/%d') %></span>
        </div>
      </div>
      
      <hr>
      <%= render 'layouts/errors_messages', model: @post_comment %>
      <%= form_with model: [@post, @post_comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, class: "form-control", placeholder: "コメント" %>
          <div class="text-right my-1">
            <%= f.submit "送信", class: "btn btn-sm btn-info" %>
          </div>
        </div>
      <% end %>
      
      <% @post.post_comments.each do |post_comment| %>
      <hr>
      <div class="row">
        <div class="col-1">
          <%= image_tag post_comment.user.get_profile_image(50, 50), class: "rounded-circle";%>
        </div>
        <div class="col-9">
          <%= link_to post_comment.user.name, user_path(post_comment.user.id) %><br>
          <span><%= post_comment.comment %></span>
        </div>
        <div class="col-2 text-right">
          <% if post_comment.user == current_user %>
            <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
      <% end %>
      
      <% if @post.user == current_user %>
        <hr>
        <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-block btn-success" %>
        <%= link_to "削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-block btn-danger" %>
      <% end %>
    </div>
  </div>
</div>