<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>"><%= @user.name %>さんとのDM</h1>

<div class="message" class="w-75">
  <% @chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <%= render "chats/chat", chat: chat %>
    <% else %>
      <div class="left-container">
        <%= image_tag @user.get_profile_image(50, 50), class: "rounded-circle";%>
        <p class="text-left bg-secondary-subtle p-5"><%= chat.message %></p>
      </div>
    <% end %>
  <% end %>
</div>

<div class="errors">
  <%= render "layouts/errors_messages", model: @chat %>
</div>

<%= form_with model: @chat, data: {remote: true} do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
  <div class="text-right my-1">
    <%= f.submit "送信", class: "btn btn-sm btn-info" %>
  </div>
<% end %>