<h1>プロフィール編集</h1>

<%= form_with model: @user do |f| %>

  <label>ユーザ名</label><br>
  <%= f.text_field :name %><br>
  
  <label>自己紹介</label><br>
  <%= f.text_area :bio %><br>
  
  <label>プロフィール画像</label><br>
  <%= f.file_field :profile_image, accept: "image/*" %><br>
  
  <%= f.submit "変更を保存" %>

<% end %>
