<h1><%= @user.name %>のプロフィール</h1>

<%= image_tag @user.get_profile_image(100, 100) %>
<h4>自己紹介</h4>
<%= @user.bio %>

<% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
  <p><%= link_to "退会", user_path(@user), method: :delete, "data-confirm" => "本当に退会しますか？"%></p>
<% end %>

<h3><%= @user.name %>の投稿一覧</h3>

<%= render 'posts/list', posts: @posts %>

