<!DOCTYPE html>
<html>
  <head>
    <title>OSHIDORI</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&callback=initialize"></script>
    <script src="https://kit.fontawesome.com/3224147d81.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="navbar-brand">
            <%= link_to "OSHIDORI", root_path, class: 'nav-link text-dark' %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "新規投稿", new_post_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "マイページ", user_path(current_user.id), class: 'nav-link text-dark' %>
                </li>
                <li>
                  <%= link_to "いいね一覧", favorites_user_path(current_user.id), class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "投稿一覧", posts_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ユーザーリスト", users_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
                </li>
                <li class="nav-item">
                  <%= link_to "管理者ログイン", new_admin_session_path, class: 'nav-link text-dark' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="mb-auto">
            <% flash.each do |message_type, message| %>
              <div class="flash-message <%= message_type %>"><%= message %></div>
            <% end %>

      <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-3 pb-2">
    </footer>
  </body>
</html>
